<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="/css/960gs/reset.css" />
    <link rel="stylesheet" href="/css/960gs/text.css" />
    <link rel="stylesheet" href="/css/960gs/960.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Copse&subset=latin' rel='stylesheet' type='text/css'>
    <title>Steve Johnson - {% autoescape off %}{{title}}{% endautoescape %}</title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4517625-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div class="container_12">
        <div class="grid_12" id="main">
            <div class="grid_12 alpha omega" id="header">
                <a href="/"> <img src="images/header.png"/></a>
            </div>
            <div class="grid_6 alpha">
                <div class="col_left">
                    <div class="bubble">
                        <a href="http://www.hackthology.com/">Hackthology</a> &nbsp;&nbsp;
                        <a href="http://www.twitter.com/irskep">Twitter</a> &nbsp;&nbsp;
                        <a href="http://hacsoc.github.com/">CWRU Hacker Society</a>
                    </div>
                    {% for item in groups[0]['items'] %}
                    <div class="bubble">
                        <h2><a href="{{item.url}}">{{item.name}}</a></h2>
                    </div>
                    {% endfor %}
                    <div class="bubble">
                        <h2><a href="http://www.github.com/irskep">github.com/irskep</a></h2> 
                        <ul class="recent_commits"> 
                            <li>
                                Recent projects:
                                <a href="http://www.github.com/yelp/mrjob">mrjob</a>
                                <a href="http://www.github.com/irskep/ct">cuttime</a>
                                <a href="http://www.github.com/irskep/schemutt">schemutt</a>
                            </li>
                            {% for c in commits %}
                            <li {% if loop.last %}class="last"{% endif %}>
                            <a href="{{c.repo_url}}">{{c.repo_name}}</a>
                            on {{c.time.month}}/{{c.time.day}}/{{c.time.year}}
                            at {{c.time.hour}}:{{c.time.minute}}:<br/>{{c.message}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="grid_6 alpha omega">
                        <div class="grid_3 alpha">
                            <div class="bubble" style="margin-right: -0.5em;">
                                <h2>{{groups[1].name}}</h2>
                                <ul>
                                    {% for item in groups[1]['items'] %}
                                        <li><a href="{{item.url}}">{{item.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="grid_3 omega">
                            <div class="bubble" style="margin-left: -0.5em;">
                                <h2>{{groups[2].name}}</h2>
                                <ul>
                                    {% for item in groups[2]['items'] %}
                                        <li><a href="{{item.url}}">{{item.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_6 omega">
                <div class="col_right">
                    {% block content %}{% endblock %}
                    <br/>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="space"></div>
    <div id="bottom">
        &copy;2011 Steve Johnson
        (<a href="mailto:steve@steveasleep.com">steve@steveasleep.com</a>)
        <br/> 
        Powered by <a href="http://flask.pocoo.org/">Flask</a>
        and <a href="http://code.google.com/appengine/">Google App Engine</a>
        <br/><br/>
    </div>
</body>
</html>
