<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="css/960gs/reset.css" />
    <link rel="stylesheet" href="css/960gs/text.css" />
    <link rel="stylesheet" href="css/960gs/960.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Inconsolata&subset=latin' rel='stylesheet' type='text/css'>
    <title>Steve Johnson - {% autoescape off %}{{title}}{% endautoescape %}</title>
</head>
<body>
    <div id="top">
        <h1>Steve Johnson's <span style="color: #FAF0C8">Web Presence</span></h1>
        <div id="top_links">
            <a href="http://www.twitter.com/irskep">Twitter</a> | 
            <a href="http://news.ycombinator.com/user?id=stevejohnson">Hacker News</a> | 
            <a href="http://stackoverflow.com/users/8061/steve-johnson">Stack Overflow</a> |
            <a href="http://www.steveasleep.com/resume">Résumé</a>
        </div>
    </div>
    <div class="space"></div>
    <div class="container_12">
        <div id="null" class="grid_1 alpha">&nbsp;</div>
        <div class="grid_2">
            <div class="sidebar_bubble" class="grid_2">
                {% for group in groups %}
                    {% if group.name != 'default' %}<h2>{{group.name}}</h2>{% endif %}
                    <ul>
                        {% for item in group['items'] %}
                            <li><a href="{{item.url}}">{{item.name}}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="sidebar_bubble">
                <h2>Github stream</h2> 
                <ul class="recent_commits"> 
                    {% for c in commits %}
                        <li><a href="{{c.repo_url}}">{{c.repo_name}}</a> on {{c.time.month}}/{{c.time.day}}/{{c.time.year}} at {{c.time.hour}}:{{c.time.minute}}:<br/>{{c.message}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="grid_8 omega">
            {% block content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="space"></div>
    <div id="bottom">
        &copy;2009 Steve Johnson
        (<a href="mailto:steve.johnson.public@gmail.com">steve.johnson.public@gmail.com</a>)
        <br/> 
        Powered by <a href="http://flask.pocoo.org/">Flask</a>
        and <a href="http://code.google.com/appengine/">Google App Engine</a>
    </div>
</body>
</html>