<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="/css/960gs/reset.css" />
    <link rel="stylesheet" href="/css/960gs/text.css" />
    <link rel="stylesheet" href="/css/960gs/960.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Copse&subset=latin' rel='stylesheet' type='text/css'>
    <title>Steve Johnson - {% autoescape off %}{{title}}{% endautoescape %}</title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4517625-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div id="top">
        <h1><a href="http://www.steveasleep.com/">Steve Johnson's <span style="color: #FAF0C8">Web Presence</span></a></h1>
        <div id="top_links">
            <a href="http://stevejohnson.posterous.com/">Blog</a> /
            <a href="http://timunionsteve.posterous.com/">tim|steve</a> /
            <a href="http://www.steveasleep.com/resume">Résumé</a> /
            <a href="http://www.twitter.com/irskep">Twitter</a> /
            <a href="http://goto.case.edu/">CWRU Hacker Society</a>
        </div>
    </div>
    <div class="space"></div>
    <div class="container_12">
        <div id="null" class="grid_1 alpha">&nbsp;</div>
        <div class="grid_2">
            <div class="sidebar_bubble" class="grid_2">
                {% for group in groups %}
                    {% if group.name != 'default' %}<h2>{{group.name}}</h2>{% endif %}
                    <ul>
                        {% for item in group['items'] %}
                            <li><a href="{{item.url}}">{{item.name}}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="sidebar_bubble">
                <h2>Github stream</h2> 
                <ul class="recent_commits"> 
                    {% for c in commits %}
                        <li><a href="{{c.repo_url}}">{{c.repo_name}}</a> on {{c.time.month}}/{{c.time.day}}/{{c.time.year}} at {{c.time.hour}}:{{c.time.minute}}:<br/>{{c.message}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="grid_8 omega">
            {% block content %}{% endblock %}
            <p class="centeredimage"><img src="images/logo2.png" style="margin: 1em;"/></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="space"></div>
    <div id="bottom">
        &copy;2011 Steve Johnson
        (<a href="mailto:steve.johnson.public@gmail.com">steve.johnson.public@gmail.com</a>)
        <br/> 
        Powered by <a href="http://flask.pocoo.org/">Flask</a>
        and <a href="http://code.google.com/appengine/">Google App Engine</a>
    </div>
</body>
</html>
